body {
   font-family: 'Roboto Condensed', sans-serif;
   color: #747704;
   font-weight: 400px;
}

hr {
   border-width: 5px;
   border-color: #BCBBBB;
}

.text-muted {
   color: #BCBBBB;
}

.text-thin {
   font-weight: 300px;
}

.page-logo {
   margin-top: 10px;
}

.page-title {
   font-size: 50px;
}